Source: mtd-utils
Section: core
Priority: extra
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 5.0), zlib1g-dev, liblzo2-dev, uuid-dev
XCS-Cross-Host-Build-Depends: debhelper (>= 5.0)
XCS-Cross-Build-Depends: libz1-dev, liblzo2-dev, uuid-dev
XCS-Cross-Mode: both
Standards-Version: 3.8.0
Homepage: http://www.linux-mtd.infradead.org/

Package: mtd-utils
Architecture: any
Depends: ${shlibs:Depends}
Description: Memory Technology Device Utilities
 Utilities for manipulating memory technology devices, such as flash
 memory, Disk-On-Chip, or ROM.  Includes mkfs.jffs2, a tool to create
 JFFS2 (journaling flash file system) filesystems.

